.App {
  text-align: center;
  scroll-behavior: smooth;
  font-family: 'Montserrat'; 
}
.section-header{
  margin-bottom: 40px;
  h1{
    font-size: 48px;
    margin: 0;
    margin-bottom: 20px;
  }
}