.card{
    width: 32vw;
    height: 70vh;
    overflow: hidden;
    position: relative;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 3s ease-in;
    }
    .info{
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: start;
        margin-left: 25px;
        h4{
            
        }
    }
}
.card:hover{
    filter: grayscale(0.8);
    img{
        transform: scale(1.1);
    }
}