.Hero{
    background-color: darkgray;
    height: calc(3000px);
    .hero-paralax{
        will-change: background-size;
        position: sticky;
        top: 0;
        width: 100%;
        height: calc(100vh);
        background: url('./media/ibiza.webp') no-repeat 50% 50%;
        background-size: cover;
    }
    .hero-front{
        will-change: background-size;
        width: 100%;
        height: calc(100vh);
        background: url('./media/foreground.png') no-repeat 50% 50%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 10;
    }
    .hero-title{
        will-change: opacity;
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100vh;
    }
    .hero-title h1{
        font-family: 'Henny Penny';
        font-size: 65px;
        margin: 0;
    }
    .hero-title h3{
        font-family: 'Mr Dafoe';
        font-size: 20px;
        margin: 0;
        font-weight: 100
    }
    .hero-about{
        will-change: opacity;
        position: absolute;
        top: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100vh;
        z-index: 15;
    }
    .hero-about h2{
        will-change: margin-bottom;
        font-size: 40px;
        margin-bottom: 180px;
    }
    .hero-about p{
        max-width: 40%;
        font-size: 16px;
        a{
            color: white;
            font-weight: bold
        }
    }
    .scroll-icon{
        will-change: opacity;
        display: flex;
        position: absolute;
        bottom: 50px;
        justify-content: center;
        width: 100%;
        z-index: 20;
    }
    .scroll-icon img{
        width: 50px;
    }
    .hero-foreground{
        position: absolute;
        width: 100%;
        height: calc(100vh);
        background-color: rgb(15, 15, 15);
        z-index: 25;
        opacity: 0;
        will-change: opacity;
        pointer-events: none;
    }
}

/*THE REST OF THE RESPONSIVE IS HANDLED IN THE HERO.JSX*/
@media only screen and (max-width: 1200px) {
    .Hero{
        .hero-front{
            background: none;
        }
    }

}
@media only screen and (max-width: 768px) {
    .Hero{
        .hero-about p{
            max-width: 80%;
        }
        .hero-front{
            background: none;
        }
    }
}
