.Work{
    background-color: black;
    color: white;
    height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}