.Work{
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 200px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}