.Work{
    background-color: rgb(15, 15, 15);
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 200px;
    .cards{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}
@media only screen and (max-width: 768px) {
    .Work{
       
    }
}
